@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryUrl}"
@inject IProductSvc ProductSvc

<PageTitle>GiaBao Shop</PageTitle>


@if(SearchText == null && CategoryUrl == null)
{
	<FeaturedProducts />
	<br />
	<hr />
	<h4>All Products.</h4>
	<ProductList />
}
else
{
	<ProductList />
}

@code{
	[Parameter]
	public string? CategoryUrl { get; set; } = null;

	[Parameter]
	public string? SearchText { get; set; } = null;

	[Parameter]
	public int Page { get; set; } = 1;

	protected override async Task OnParametersSetAsync()
	{
		if(SearchText != null)
		{
			await ProductSvc.SearchProducts(SearchText, Page);
		}
		else
		{
			await ProductSvc.GetProducts(CategoryUrl);
		}
	}
}
