@inject IProductSvc ProductSvc
@implements IDisposable

<center><h2>Top Products of Today</h2></center>
@if(ProductSvc.Products == null || ProductSvc.Products.Count == 0)
{
	<span>@ProductSvc.Message</span>
}
else
{
	<div class="container">
		@foreach (var product in ProductSvc.Products)
		{
			@if (product.Featured)
			{
				<div class="featured-product">
					<div>
						<a href="product/@product.Id">
							<img src="@product.ImageUrl"/>
						</a>
					</div>
					<h4><a href="product/@product.Id">@product.Title</a></h4>
					@if (product.Variants != null && product.Variants.Count > 0)
					{
						<h5 class="price">
							$@product.Variants[0].Price
						</h5>
					}
				</div>
			}
		}
	</div>
}

@code {
	protected override void OnInitialized()
	{
		ProductSvc.ProductChanged += StateHasChanged;
	}

	public void Dispose()
	{
		ProductSvc.ProductChanged -= StateHasChanged;
	}
}
