@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-primary home-button">
	GiaBao Shop
</button>

@code {
	private void GoToHome()
	{
		NavigationManager.NavigateTo("");
	}
}
