@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
	GiaBao Shop
</button>
@*<MudButton OnClick="GoToHome">
	<MudIcon Variant="Variant.Outlined" Color="Color.Primary"></MudIcon>
</MudButton>*@

@code {
	private void GoToHome()
	{
		NavigationManager.NavigateTo("");
	}
}
